/* Variables */
:root {
    /* -C5AD7A */
    --primary-color: #C5AD7A;
}

html {
    color: #fff;
}

/* HEADER */

.header {
    width: 100vw;
    background-size: cover;
    z-index: 2;
    background-color: #fff;
    border-bottom: 2px solid #CEDBFF;
    /* background: linear-gradient(180deg, #FFFFFF 0%, #E6EDFF 78.54%, #FCFCFE 94.38%); */
}

.header-logo {
    width: 80px;
    height: auto;
}

.header-nav-item {
    font-size: 18px;
    padding: 0 20px;
    min-width: 80px;
    letter-spacing: 2px;
    height: 100%;
    /* position: relative; */
    font-weight: 800;
    height: 83px;
}

.header-nav-item.highlight {
    color: #d2350c;
}

.header-nav-item.active,
.header-nav-item:hover {
    cursor: pointer;
    user-select: none;
    color: var(--primary-color);
}

.header-logo {
    padding: 5px 0;
}

.header-nav {
    height: 100%;
    flex: 1;
    margin-left: 2.5vw;
}

/* .header-nav-item.active::after, */
.header-nav,
.header-wrapper {
    /* position: relative; */
}

.header-nav-line {
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    transition: all 0.5s ease-in-out;
    background-color: #484CFE;
}

.content {
    /* background: url(/assets/images/main-bg.png) no-repeat top center; */
    /* background-size: 100% auto; */
    /* background-color: #fff; */
}

.noti {
    background-color: #0A1312;
}

.noti-wrapper {
    cursor: pointer;
    padding: 8px 15px;
    color: #fff;
}

.noti-icon {
    padding-right: 10px;
    color: var(--primary-color);
    width: 40px;
    font-size: 20px;
}

marquee {
    color: #fff;
    font-size: 12px;
}

.primary-title {
    margin: 40px 0;
}

.primary-title-sub {
    margin-top: 15px;
}

/* utils config */
input {
    padding: 4px 10px;
    border-radius: 4px;
}

input+input {
    margin-left: 10px;
}

.verifi-img {
    height: 22px;
    margin-left: 10px;
}

.primary-form input {
    border: 1px solid rgba(255, 255, 255, .6);
    background-color: #E8F0FE;
}

/*  */

.header-top {
    background-color: #0A1312;
    padding: 10px 0;
    font-size: 12px;
    color: rgba(255, 255, 255, .6);
}

.verifi-code {
    background-color: #0A1312 !important;
    outline: none;
    color: rgba(255, 255, 255, .6);
    border: 1px solid rgba(255, 255, 255, .6);
    width: 90px;
}

.ReCode {
    cursor: pointer;
}

.forgot-password {
    font-style: italic;
    color: #059C74;
    cursor: pointer;
}

.forgot-password:hover {
    text-decoration: underline;
}

.l-banner {
    position: relative;
}

.l-banner .swiper-pagination-bullet {
    background-color: #000000 !important;
    width: 80px;
    border-radius: 0 !important;
}

.l-banner .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #fff !important;
}

.l-banner .swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 2px;
}

.swiper-slide-img img {
    width: 100%;
}

.menu {
    padding: 30px 0;
}

.swiper-wrapper img {
    border-radius: 10px;
}

.swiper-menu .swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: 10vw;
    padding: 20px;
    border: 2px solid #ddd;
    color: #ddd;
    font-size: 22px;
    border-radius: 10px;
    background-color: #ffffff50;
}

.swiper-menu .swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: 10vw;
    padding: 20px;
    border: 2px solid #ddd;
    color: #FCC434;
    font-size: 22px;
    border-radius: 10px;
    background-color: #ffffff50;
}

.swiper-menu .swiper-button-prev,
.swiper-rtl .swiper-button-next:hover,
.swiper-menu .swiper-button-next,
.swiper-rtl .swiper-button-prev:hover {
    color: #FCC434;
    border-color: #FCC434;
}

.swiper-menu .swiper-button-next:after,
.swiper-button-prev:after {
    display: none;
}

.footer {
    color: #fff;
    margin-top: 50px;
    padding: 30px 0;
    background-image: url(../images/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.footer-title {
    border-left: 1px solid #fff;
    padding-left: 14px;
    font-size: 20px;
}

.footer-title span {
    font-size: 14px;
    margin-left: 10px;
}

.footer-logo {
    width: 80px;
}

.footer-text {
    font-size: 12px;
}

.footer-secu {
    width: 200px;
}

.footer-list {
    margin: 10px 5px;
}

.footer-list li {
    margin-bottom: 10px;
    font-size: 14px;
}

.footer-list li i {
    margin-right: 5px;
}

.footer-browser {
    width: 30%;
}

.footer-browser i {
    font-size: 50px;
    margin-bottom: 5px;
    height: 60px;
}

.footer-browser span {
    text-align: center;
}

.footer-box {
    padding: 10px 5px;
}

.bottom-legal {
    padding: 1.5vw 0;
    background-color: #24282d;
    position: relative;
    color: #fff;
    font-size: 13px;
}

.header-nav-sub {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    background-color: #000;
    z-index: 999;
    padding: 20px;
    padding-left: 14vw;
    display: flex;
    align-items: center;
    justify-content: start;
    transform: translateY(100%);
    transition: all 0.2s ease;
    display: none;
    opacity: 0;
}

.header {
    position: relative;
}

.header-nav-sub-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: #fff;
}

.header-nav-sub-item+.header-nav-sub-item {
    margin-left: 40px;
}

.header-nav-sub-item span {
    font-size: 16px;
}

.header-nav-sub-item:hover .header-nav-sub-img img {
    transform: translateY(-50px);
}

.header-nav-sub-item:hover span {
    color: var(--primary-color);
}

.header-nav-sub-img {
    height: 50px;
    overflow: hidden;
}

.header-nav-sub-img img {
    width: 100%;
    height: auto;
    transition: all 0.5s ease-in-out;
}

.header-nav-item:hover .header-nav-sub {
    display: flex;
    opacity: 1;
}

.header-nav-item:hover .header-nav-sub-wrapper {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-duration: .6s;
    animation-duration: .6s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.header-nav-sub-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    /* width: 100vw;
    background-color: #000;
    z-index: 999;
    padding: 20px;
    padding-left: 14vw; */
}

.header-top-dropdown {
    position: relative;
}

.header-top-dropdown-content {
    position: absolute;
    top: 110%;
    left: 50%;
    background-color: #00000083;
    border: 1px solid rgb(81, 81, 81);
    transform: translateX(-50%) scaleY(0);
    transform-origin: top;
    z-index: 2;
    transition: all 0.5s ease-out;
    opacity: 0;
}

.header-top-dropdown:hover .header-top-dropdown-content {
    opacity: 1;
    cursor: pointer;
    transform: translateX(-50%) scaleY(1);
}

.header-top-dropdown-item {
    padding: 6px 8px;
    /* min-width: 80px; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
}

.header-top-dropdown-content .header-top-dropdown-item:hover {
    cursor: pointer;
    background-color: var(--primary-color)be;
}

.header-top-dropdown-icon {
    width: 30px;
    height: 25px;
    /* margin-right: 4px; */
}

.header-top-dropdown-icon img {
    height: 100%;
    width: auto;
}

.logged-item:hover {
    color: var(--primary-color);
}

.logged-item+.logged-item {
    margin-left: 10px;
}

.logged-title,
.logged-item i {
    margin-right: 4px;
}

.refesh {
    margin-left: 4px;
}

.logged-value {
    color: var(--primary-color);
    font-weight: 500;
}

.refesh {
    color: #484CFE;
    cursor: pointer;
    transition: all 0.5s ease;
}

.refesh:hover {
    transform: scale(1.4) rotate(360deg);
}


/* HEADER MOBILE */
.header-mobile {
    padding: 10px 0;
}

.header-mobile-wrapper {
    display: relative;
}

.header-mobile-logo {
    width: 65px;
}

.header-mobile-language {
    position: absolute;
    top: 2px;
    right: 2px;
}

.gradient-button {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 500;
    padding: 4px 10px;
    border-radius: 20px;
    min-width: 100px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.5s ease;
    background-image: linear-gradient(180deg, #171610 0%, #413F37 48%, #050505 100%);
}

.gradient-button:hover {
    cursor: pointer;
    color: #fff;
    background-color: var(--primary-color);
}

/* MENU MOBILE */
.menu-mobile {
    overflow-x: scroll;
    background-color: #1C1C1C;
    height: 53px;
    /* position: -webkit-sticky;
    position: sticky;
    top: 0; */
}

.sticky {
    position: fixed;
    background-color: #1C1C1C;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
}

.menu-mobile-wrapper {
    flex-wrap: nowrap;
    min-width: 140vw;
    transition: all 0.5s ease;
}

.menu-mobile-item {
    width: 20vw;
    padding: 4px 4px;
    color: #FDFDFD;
    transition: all 0.5s ease;
}

.menu-mobile-item:hover,
.menu-mobile-item.active {
    color: #000;
    background-image: linear-gradient(180deg, #F0CB8D 0%, #AA8648 100%);
}

.menu-mobile-item i {
    font-size: 26px;
    margin-bottom: 2px;
}

.menu-mobile-item span {
    font-size: 11px;
    font-weight: 500;
    text-align: center;
}

.navigation-tab {
    width: 100%;
    background-image: linear-gradient(180deg, #313232 0%, #050505 100%);
    box-shadow: 0 50px 30px 0 rgba(0, 0, 0, .175);
    /* overflow-x: hidden; */
    display: flex;
    position: fixed;
    bottom: 0;
    flex-shrink: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    color: var(--primary-color);
}

.navigation-tab-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 20%;
    flex-shrink: 0;
    cursor: pointer;
    transition: .3s;
    position: relative;
    z-index: 2;
    padding: 10px;
    color: var(--primary-color);
}

.navigation-tab__icon.gif i {
    color: #FCCE2E;
}

.navigation-tab-item.active i,
.navigation-tab-item.hover i,
.navigation-tab-item.active .navigation-tab__txt,
.navigation-tab-item.hover .navigation-tab__txt {
    color: #BE8F63;
}

.navigation-tab__icon i {
    font-size: 24px;
    margin-bottom: 2px;
    color: var(--primary-color);
}

.navigation-tab__icon {
    transform: translate(0px, 0px)
}

.navigation-tab-overlay {
    border-radius: 10px;
    background-color: #e4f2ff;
    height: 100%;
    width: 20%;
    position: absolute;
    left: 40%;
    top: 0;
    transition: .3s
}

.navigation-tab__icon {
    display: block;
    color: #636363;
    transition-duration: .3s;
    line-height: 1;
    /* transform: translate(0, 11px) */
}

.navigation-tab__txt {
    display: block;
    font-weight: 400;
    font-size: 10px;
    color: #A39680;
    user-select: none;
    margin-top: 3px;
}

.mobile-title {
    padding: 20px 0 5px;
}

.mobile-title span {
    color: var(--primary-color);
    font-size: 18px;
}

.line {
    width: 15vw;
    height: 2px;
    background-color: var(--primary-color);
}

.game {
    padding: 10px 0 8.5px;
    border-bottom: 1px solid #404142;
}

.game-infor {
    padding-left: 10px;
}

.game-name {
    flex: 1;
    color: #fff;
    font-size: 12px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-content {
    padding-bottom: 70px;
}

.mobile-box {
    padding-top: 10px;
}

/* MEMBER CENTER */
.content {
    padding: 20px 0;
    background-color: #252525;
    padding-bottom: 70px;
}

.content-wrapper {
    /* border: 1px solid rgba(42, 42, 42, .52); */
}

.content-right,
.content-nav {
    border: 1px solid rgba(42, 42, 42, 0.905);
    color: #fff;
}

.content-title {
    color: var(--primary-color);
    font-size: 24px;
    padding-bottom: 20px;
}

.content-nav-item {
    padding: 10px 10px 10px 40px;
    font-weight: 500;
    color: #fff;
    border-top: 1px solid rgba(42, 42, 42, 0.905);
    font-size: 14px;
}

.content-nav-item:hover,
.content-nav-item.active {
    cursor: pointer;
    background-color: var(--primary-color);
    color: #000;
}

.content .nav-link {
    border-radius: 0 !important;
    background-color: #181818;
    color: #fff;
    cursor: pointer;
    transition: all 0.4s ease;
    border-right: 1px solid transparent !important;
    border-left: 1px solid transparent !important;
    font-size: 14px;
}

.content .nav-link:hover {
    border-color: transparent;
    color: var(--primary-color);
    border-top: 4px solid var(--primary-color) !important;
}

.content .nav-tabs {
    border-bottom: 1px solid transparent !important;
    outline: none !important;
}

.content .nav-link.active {
    border: 1px solid rgba(42, 42, 42, 0.069) !important;
    border-top: 4px solid var(--primary-color) !important;
    border-right: 1px solid rgba(42, 42, 42, 0.927) !important;
    border-left: 1px solid rgba(42, 42, 42, 0.927) !important;
    background-color: #181818 !important;
    color: #fff;
}

.content table {
    width: 100%;
    font-size: 12px;
    font-weight: 400;
}

.content tbody th {
    font-weight: 400;
}

.content table td,
.content table th {
    border: 1px solid #363636;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    word-break: break-all;
    font-size: 12px;
}

.tab-content {
    padding: 10px;
    background-color: #181818;
    min-height: 400px;
}

.infor-wrapper {
    padding-left: 10px;
    padding-top: 10px;
}

.infor+.infor {
    margin-top: 20px;
}

.infor-title {
    width: 160px;
    text-align: right;
    margin-right: 10px;
    font-size: 12px;
}

.infor-value {
    color: var(--primary-color);
}

.infor-box {
    padding: 10px;
    border: 1px solid #363636;
}

.infor-box+.infor-box {
    margin-top: 10px;
}

.infor-sub-title {
    font-weight: 500;
    font-size: 18px;
    color: var(--primary-color);
}

.form-input {
    background-color: #0000005e;
    outline: none;
    border: none;
    flex: 1;
    max-width: 400px;
    font-size: 14px;
    color: #fff;
}

.form-button {
    width: 100%;
    max-width: 400px;
    padding: 2px 10px;
}

.success {
    color: rgb(5, 156, 116);
}

.deposit+.deposit {
    margin-top: 30px;
}

.deposit-title {
    color: #e3c7af;
}

.deposit-decs {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 3px;
}

.deposit .primary-button {
    max-width: 300px;
    padding: 6px 10px;
    background-color: #D2350C;
}

.form-select {
    background-color: #0000005e;
    outline: none;
    border: none;
    flex: 1;
    max-width: 400px;
    font-size: 14px;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
}

.no-data {
    font-size: 14px;
    color: #8b8b8b;
}

.credit-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #3e3e3e1d;
    padding: 10px;
}

.credit-title {
    font-size: 14px;
    font-weight: 500;
}

.credit-value {
    color: var(--primary-color);
    font-size: 10px;
    padding: 10px 0 5px;
}

.credit-item-form+.credit-item-form {
    margin-top: 20px;
}

.credit-title {
    width: 90px;
    text-align: right;
    font-size: 12px;
}

.credit-control {
    margin: 30px;
}

.credit-control-wrapper {
    background-color: #3E3E3E;
    margin-top: 10px;
}

.credit-control+.credit-control {
    border-left: 1px solid #dddddd39;
}

.credit-back {
    font-size: 90px;
    padding-bottom: 10px;
}

.filter {
    padding: 10px 0 0;
}

.filter-title {
    font-size: 12px;
}

.form-line {
    height: 1px;
    width: 100%;
    background-color: #363636;
    margin: 10px 0 15px;
}

.navigation-tab-item.center img {
    width: 30px;
    transform: scale(1.4) translateY(-7px);
}

.hidden {
    display: none !important;
}

.primary-table {
    overflow: scroll;
}

/* LOGIN */

.login-logo {
    width: 100px;
    margin-bottom: 20px;
}

@keyframes scrollBackground {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 -2000px;
    }
}

.login {
    color: #fff;
    height: calc(100vh - 44px);

    background-image: url('/assets/images/bg-login.jpg');
    background-repeat: repeat;
    background-size: 50% auto;
    background-attachment: fixed;
    animation: scrollBackground 104s linear infinite;
}

.primary-form-box {
    padding: 15px 0;
}

.back {
    height: 44px;
    padding-left: 20px;
    font-size: 18px;
    color: var(--primary-color);
}

.primary-form-button+.primary-form-button {
    margin-top: 15px;
}

.primary-form-input {
    background-color: #000;
    padding: 8px 14px;
    border-radius: 8px;
    color: #fff;
}

.primary-form-input input {
    background-color: transparent;
    flex: 1;
    border: none;
    color: #fff;
    padding-left: 15px;
}

.primary-form-input+.primary-form-input {
    margin-top: 15px;
}

.checkbox input {
    margin-right: 4px;
}

.checkbox label {
    font-size: 14px;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #fff;
    position: relative;
}

/* style the custom checkbox */
input[type="checkbox"]:checked::before {
    content: "\2713";
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background-color: var(--primary-color);
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
}

.forgotpassword {
    font-size: 14px;
    font-style: italic;
}

.primary-form-name {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
}

.header-top-language {
    opacity: 0;
}